body {
  background: url('bk.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

section {
  padding: 20px;
}
section:after {
  content: " ";
  display: table;
  clear: both;
}
#input, #name {
  display: block;
  border: solid 1px #7D7D7D;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0 0 0;
  font-family: Georgia;
  font-size: 15;
}
#emojiPickerWrap {
  height: 200px;
  width: 200px;
}

#name {
  width: 140px;
  float: left;
  margin: 10px 20px 0 0;
  border: solid 1px #C7C7C7;
}
#input {
  width: 500px;
}
#chat {
  width: 100%;
  border-left: solid 2px darkgrey;
  padding: 10px;
  font-size: 25px;
  height: 400px;
  overflow-y: auto;
}

select {
  display: block;
  margin: 10px 0 0 0;
  padding: 30px;
  width: 120px;
}
